// src/components/header/header-view.module.scss

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 6rem;
  box-shadow: 0 0 0.25rem #ccc;
}

.linkLogo {
  margin-left: 1rem;
}

.logo {
  height: 5rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.fill {
  content: "";
  position: absolute;
  width: 0;
  opacity: 0;
  height: 0.1rem;
  bottom: 0;
  background-color: rgb(264, 198, 82);
  transition: all 0.25s ease-in;
}

.navItem {
  margin-right: 1rem;
  position: relative;
  padding-bottom: 0.25rem;
  font-size: 1.1rem;

  &.left:after {
    @extend .fill;
    left: 0;
  }

  &.right:after {
    @extend .fill;
    right: 0;
  }

  &.center {
    &:before {
      @extend .fill;
      left: 50%;
    }
    &:after {
      @extend .fill;
      right: 50%;
    }
  }

  &.ends {
    &:before {
      @extend .fill;
      left: 0;
    }
    &:after {
      @extend .fill;
      right: 0;
    }
  }

  &.left.active,
  &.right.active,
  &.left:hover,
  &.left:focus,
  &.right:hover,
  &.right:focus {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }

  &.center.active,
  &.ends.active,
  &.center:hover,
  &.center:focus,
  &.ends:hover,
  &.ends:focus {
    &:before,
    &:after {
      width: 50%;
      opacity: 1;
    }
  }
}

.link {
  color: rgb(13, 32, 62);
  text-decoration: none;
}
